/* purgecss start ignore */
@tailwind  base;

html {
    @apply bg-gray-100;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (prefers-color-scheme: dark) {
    html {
        @apply bg-gray-600;
    }
}

p {
    @apply mb-4;
}

@media (prefers-color-scheme: dark) {
    p {
        @apply text-gray-100;
    }
}

p:first-child:last-child {
    @apply mb-0;
}

code a {
    @apply text-hacker;
    @apply underline;
}

p a {
    @apply bg-blue-100;
    @apply border-b;
    @apply border-gray-700;
    @apply break-words;
}

p a:hover {
    @apply bg-blue-150;
    @apply text-gray-700;
}

p a:visited {
    @apply bg-white;
}

@media (prefers-color-scheme: dark) {
    p a:visited {
        @apply bg-black-700;
    }

    p a:visited:hover {
        @apply text-white;
    }
}

pre code {
    @apply bg-gray-700;
    @apply block;
    @apply p-2;
    @apply rounded;
    @apply text-hacker;
    @apply overflow-auto;
}

@tailwind  components;
/* purgecss end ignore */

@tailwind  utilities;

[class="<3"] {
    background: none !important;
    border-bottom: none !important;
}

body {
    overflow-y: scroll;
}